<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionReader" class="ru.otus.spring.readers.impl.CsvReader"/>

    <bean id="questionService" class="ru.otus.spring.service.impl.QuestionServiceImpl">
        <constructor-arg name="pathToQuestion" value="somePath"/>
        <constructor-arg name="converterService" ref="questionReader"/>

    </bean>

</beans>